<html ng-app='ShoppingModule'>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="myStyles.css">
</head>
<body>

<div ng-controller='ShoppingController'>
 <h1>Shop!</h1>
 <table ng-repeat='item in items'>
 <td>{{item.title}}</td>
 <td>{{item.description}}</td>
 <td>{{item.price | currency}}</td>
 
 </table>

</div>



<script src="main.js"></script>
</body>
</html>